Chello/Chello/src/conf/xml-resources/web-service-references/UsuarioWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="AgregarUsuario" type="tns:AgregarUsuario"/>

<xs:element name="AgregarUsuarioResponse" type="tns:AgregarUsuarioResponse"/>

<xs:element name="EditarUsuario" type="tns:EditarUsuario"/>

<xs:element name="EditarUsuarioResponse" type="tns:EditarUsuarioResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="SeleccionUsuarioPorEmail" type="tns:SeleccionUsuarioPorEmail"/>

<xs:element name="SeleccionUsuarioPorEmailCoincidencia" type="tns:SeleccionUsuarioPorEmailCoincidencia"/>

<xs:element name="SeleccionUsuarioPorEmailCoincidenciaResponse" type="tns:SeleccionUsuarioPorEmailCoincidenciaResponse"/>

<xs:element name="SeleccionUsuarioPorEmailResponse" type="tns:SeleccionUsuarioPorEmailResponse"/>

<xs:element name="SeleccionarUsuario" type="tns:SeleccionarUsuario"/>

<xs:element name="SeleccionarUsuarioResponse" type="tns:SeleccionarUsuarioResponse"/>

<xs:element name="comprobarExistenciaEmail" type="tns:comprobarExistenciaEmail"/>

<xs:element name="comprobarExistenciaEmailResponse" type="tns:comprobarExistenciaEmailResponse"/>

<xs:complexType name="SeleccionUsuarioPorEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionUsuarioPorEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobarExistenciaEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobarExistenciaEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionUsuarioPorEmailCoincidencia">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionUsuarioPorEmailCoincidenciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>