Chello/Chello/src/conf/xml-resources/web-service-references/UsuarioWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarUsuario">
<part name="parameters" element="tns:AgregarUsuario"/>
</message>
<message name="AgregarUsuarioResponse">
<part name="parameters" element="tns:AgregarUsuarioResponse"/>
</message>
<message name="EditarUsuario">
<part name="parameters" element="tns:EditarUsuario"/>
</message>
<message name="EditarUsuarioResponse">
<part name="parameters" element="tns:EditarUsuarioResponse"/>
</message>
<message name="SeleccionarUsuario">
<part name="parameters" element="tns:SeleccionarUsuario"/>
</message>
<message name="SeleccionarUsuarioResponse">
<part name="parameters" element="tns:SeleccionarUsuarioResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="SeleccionUsuarioPorEmailCoincidencia">
<part name="parameters" element="tns:SeleccionUsuarioPorEmailCoincidencia"/>
</message>
<message name="SeleccionUsuarioPorEmailCoincidenciaResponse">
<part name="parameters" element="tns:SeleccionUsuarioPorEmailCoincidenciaResponse"/>
</message>
<message name="SeleccionUsuarioPorEmail">
<part name="parameters" element="tns:SeleccionUsuarioPorEmail"/>
</message>
<message name="SeleccionUsuarioPorEmailResponse">
<part name="parameters" element="tns:SeleccionUsuarioPorEmailResponse"/>
</message>
<message name="comprobarExistenciaEmail">
<part name="parameters" element="tns:comprobarExistenciaEmail"/>
</message>
<message name="comprobarExistenciaEmailResponse">
<part name="parameters" element="tns:comprobarExistenciaEmailResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="AgregarUsuario">
<input wsam:Action="http://webservices/UsuarioWS/AgregarUsuarioRequest" message="tns:AgregarUsuario"/>
<output wsam:Action="http://webservices/UsuarioWS/AgregarUsuarioResponse" message="tns:AgregarUsuarioResponse"/>
</operation>
<operation name="EditarUsuario">
<input wsam:Action="http://webservices/UsuarioWS/EditarUsuarioRequest" message="tns:EditarUsuario"/>
<output wsam:Action="http://webservices/UsuarioWS/EditarUsuarioResponse" message="tns:EditarUsuarioResponse"/>
</operation>
<operation name="SeleccionarUsuario">
<input wsam:Action="http://webservices/UsuarioWS/SeleccionarUsuarioRequest" message="tns:SeleccionarUsuario"/>
<output wsam:Action="http://webservices/UsuarioWS/SeleccionarUsuarioResponse" message="tns:SeleccionarUsuarioResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://webservices/UsuarioWS/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://webservices/UsuarioWS/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="SeleccionUsuarioPorEmailCoincidencia">
<input wsam:Action="http://webservices/UsuarioWS/SeleccionUsuarioPorEmailCoincidenciaRequest" message="tns:SeleccionUsuarioPorEmailCoincidencia"/>
<output wsam:Action="http://webservices/UsuarioWS/SeleccionUsuarioPorEmailCoincidenciaResponse" message="tns:SeleccionUsuarioPorEmailCoincidenciaResponse"/>
</operation>
<operation name="SeleccionUsuarioPorEmail">
<input wsam:Action="http://webservices/UsuarioWS/SeleccionUsuarioPorEmailRequest" message="tns:SeleccionUsuarioPorEmail"/>
<output wsam:Action="http://webservices/UsuarioWS/SeleccionUsuarioPorEmailResponse" message="tns:SeleccionUsuarioPorEmailResponse"/>
</operation>
<operation name="comprobarExistenciaEmail">
<input wsam:Action="http://webservices/UsuarioWS/comprobarExistenciaEmailRequest" message="tns:comprobarExistenciaEmail"/>
<output wsam:Action="http://webservices/UsuarioWS/comprobarExistenciaEmailResponse" message="tns:comprobarExistenciaEmailResponse"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionUsuarioPorEmailCoincidencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionUsuarioPorEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarExistenciaEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/UsuarioWS"/>
</port>
</service>
</definitions>