Chello/Chello/src/conf/xml-resources/web-service-references/ActividadWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/ActividadWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="ActividadWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarActividad">
<part name="parameters" element="tns:AgregarActividad"/>
</message>
<message name="AgregarActividadResponse">
<part name="parameters" element="tns:AgregarActividadResponse"/>
</message>
<message name="EditarActividad">
<part name="parameters" element="tns:EditarActividad"/>
</message>
<message name="EditarActividadResponse">
<part name="parameters" element="tns:EditarActividadResponse"/>
</message>
<message name="SeleccionarActividad">
<part name="parameters" element="tns:SeleccionarActividad"/>
</message>
<message name="SeleccionarActividadResponse">
<part name="parameters" element="tns:SeleccionarActividadResponse"/>
</message>
<message name="EliminarActividades">
<part name="parameters" element="tns:EliminarActividades"/>
</message>
<message name="EliminarActividadesResponse">
<part name="parameters" element="tns:EliminarActividadesResponse"/>
</message>
<message name="ObtenerActividadesDeModulo">
<part name="parameters" element="tns:ObtenerActividadesDeModulo"/>
</message>
<message name="ObtenerActividadesDeModuloResponse">
<part name="parameters" element="tns:ObtenerActividadesDeModuloResponse"/>
</message>
<message name="EliminarActividad">
<part name="parameters" element="tns:EliminarActividad"/>
</message>
<message name="EliminarActividadResponse">
<part name="parameters" element="tns:EliminarActividadResponse"/>
</message>
<message name="EliminarActividadVirtual">
<part name="parameters" element="tns:EliminarActividadVirtual"/>
</message>
<message name="EliminarActividadVirtualResponse">
<part name="parameters" element="tns:EliminarActividadVirtualResponse"/>
</message>
<portType name="ActividadWS">
<operation name="AgregarActividad">
<input wsam:Action="http://webservices/ActividadWS/AgregarActividadRequest" message="tns:AgregarActividad"/>
<output wsam:Action="http://webservices/ActividadWS/AgregarActividadResponse" message="tns:AgregarActividadResponse"/>
</operation>
<operation name="EditarActividad">
<input wsam:Action="http://webservices/ActividadWS/EditarActividadRequest" message="tns:EditarActividad"/>
<output wsam:Action="http://webservices/ActividadWS/EditarActividadResponse" message="tns:EditarActividadResponse"/>
</operation>
<operation name="SeleccionarActividad">
<input wsam:Action="http://webservices/ActividadWS/SeleccionarActividadRequest" message="tns:SeleccionarActividad"/>
<output wsam:Action="http://webservices/ActividadWS/SeleccionarActividadResponse" message="tns:SeleccionarActividadResponse"/>
</operation>
<operation name="EliminarActividades">
<input wsam:Action="http://webservices/ActividadWS/EliminarActividadesRequest" message="tns:EliminarActividades"/>
<output wsam:Action="http://webservices/ActividadWS/EliminarActividadesResponse" message="tns:EliminarActividadesResponse"/>
</operation>
<operation name="ObtenerActividadesDeModulo">
<input wsam:Action="http://webservices/ActividadWS/ObtenerActividadesDeModuloRequest" message="tns:ObtenerActividadesDeModulo"/>
<output wsam:Action="http://webservices/ActividadWS/ObtenerActividadesDeModuloResponse" message="tns:ObtenerActividadesDeModuloResponse"/>
</operation>
<operation name="EliminarActividad">
<input wsam:Action="http://webservices/ActividadWS/EliminarActividadRequest" message="tns:EliminarActividad"/>
<output wsam:Action="http://webservices/ActividadWS/EliminarActividadResponse" message="tns:EliminarActividadResponse"/>
</operation>
<operation name="EliminarActividadVirtual">
<input wsam:Action="http://webservices/ActividadWS/EliminarActividadVirtualRequest" message="tns:EliminarActividadVirtual"/>
<output wsam:Action="http://webservices/ActividadWS/EliminarActividadVirtualResponse" message="tns:EliminarActividadVirtualResponse"/>
</operation>
</portType>
<binding name="ActividadWSPortBinding" type="tns:ActividadWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerActividadesDeModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarActividadVirtual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ActividadWS">
<port name="ActividadWSPort" binding="tns:ActividadWSPortBinding">
<soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadWS"/>
</port>
</service>
</definitions>