Chello/Chello/src/conf/xml-resources/web-service-references/TableroWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/TableroWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="AgregarTablero" type="tns:AgregarTablero"/>

<xs:element name="AgregarTableroResponse" type="tns:AgregarTableroResponse"/>

<xs:element name="EditarTablero" type="tns:EditarTablero"/>

<xs:element name="EditarTableroResponse" type="tns:EditarTableroResponse"/>

<xs:element name="EliminarTablero" type="tns:EliminarTablero"/>

<xs:element name="EliminarTableroResponse" type="tns:EliminarTableroResponse"/>

<xs:element name="SeleccionarTablero" type="tns:SeleccionarTablero"/>

<xs:element name="SeleccionarTableroResponse" type="tns:SeleccionarTableroResponse"/>

<xs:complexType name="AgregarTablero">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarTableroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarTablero">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarTableroResponse">
<xs:sequence>
<xs:element name="return" type="tns:tablero" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tablero">
<xs:sequence>
<xs:element name="activo" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarTablero">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarTableroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarTablero">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarTableroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>