Chello/Chello/src/conf/xml-resources/web-service-references/TableroWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/TableroWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="TableroWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/TableroWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarTablero">
<part name="parameters" element="tns:AgregarTablero"/>
</message>
<message name="AgregarTableroResponse">
<part name="parameters" element="tns:AgregarTableroResponse"/>
</message>
<message name="EliminarTablero">
<part name="parameters" element="tns:EliminarTablero"/>
</message>
<message name="EliminarTableroResponse">
<part name="parameters" element="tns:EliminarTableroResponse"/>
</message>
<message name="EditarTablero">
<part name="parameters" element="tns:EditarTablero"/>
</message>
<message name="EditarTableroResponse">
<part name="parameters" element="tns:EditarTableroResponse"/>
</message>
<message name="SeleccionarTablero">
<part name="parameters" element="tns:SeleccionarTablero"/>
</message>
<message name="SeleccionarTableroResponse">
<part name="parameters" element="tns:SeleccionarTableroResponse"/>
</message>
<portType name="TableroWS">
<operation name="AgregarTablero">
<input wsam:Action="http://webservices/TableroWS/AgregarTableroRequest" message="tns:AgregarTablero"/>
<output wsam:Action="http://webservices/TableroWS/AgregarTableroResponse" message="tns:AgregarTableroResponse"/>
</operation>
<operation name="EliminarTablero">
<input wsam:Action="http://webservices/TableroWS/EliminarTableroRequest" message="tns:EliminarTablero"/>
<output wsam:Action="http://webservices/TableroWS/EliminarTableroResponse" message="tns:EliminarTableroResponse"/>
</operation>
<operation name="EditarTablero">
<input wsam:Action="http://webservices/TableroWS/EditarTableroRequest" message="tns:EditarTablero"/>
<output wsam:Action="http://webservices/TableroWS/EditarTableroResponse" message="tns:EditarTableroResponse"/>
</operation>
<operation name="SeleccionarTablero">
<input wsam:Action="http://webservices/TableroWS/SeleccionarTableroRequest" message="tns:SeleccionarTablero"/>
<output wsam:Action="http://webservices/TableroWS/SeleccionarTableroResponse" message="tns:SeleccionarTableroResponse"/>
</operation>
</portType>
<binding name="TableroWSPortBinding" type="tns:TableroWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TableroWS">
<port name="TableroWSPort" binding="tns:TableroWSPortBinding">
<soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/TableroWS"/>
</port>
</service>
</definitions>