Chello/Chello/src/conf/xml-resources/web-service-references/tableroUsuarioWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/tableroUsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="tableroUsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroUsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="CrearTableroUsuario">
<part name="parameters" element="tns:CrearTableroUsuario"/>
</message>
<message name="CrearTableroUsuarioResponse">
<part name="parameters" element="tns:CrearTableroUsuarioResponse"/>
</message>
<message name="EliminarTableroUsuario">
<part name="parameters" element="tns:EliminarTableroUsuario"/>
</message>
<message name="EliminarTableroUsuarioResponse">
<part name="parameters" element="tns:EliminarTableroUsuarioResponse"/>
</message>
<message name="EliminarTableroUsuarios">
<part name="parameters" element="tns:EliminarTableroUsuarios"/>
</message>
<message name="EliminarTableroUsuariosResponse">
<part name="parameters" element="tns:EliminarTableroUsuariosResponse"/>
</message>
<message name="SeleccionarTableroUsuario">
<part name="parameters" element="tns:SeleccionarTableroUsuario"/>
</message>
<message name="SeleccionarTableroUsuarioResponse">
<part name="parameters" element="tns:SeleccionarTableroUsuarioResponse"/>
</message>
<message name="ObtenerTablerosDeUsuario">
<part name="parameters" element="tns:ObtenerTablerosDeUsuario"/>
</message>
<message name="ObtenerTablerosDeUsuarioResponse">
<part name="parameters" element="tns:ObtenerTablerosDeUsuarioResponse"/>
</message>
<message name="ObtenerUsuariosDeTablero">
<part name="parameters" element="tns:ObtenerUsuariosDeTablero"/>
</message>
<message name="ObtenerUsuariosDeTableroResponse">
<part name="parameters" element="tns:ObtenerUsuariosDeTableroResponse"/>
</message>
<message name="SeleccionarIdPorTableroYUsuario">
<part name="parameters" element="tns:SeleccionarIdPorTableroYUsuario"/>
</message>
<message name="SeleccionarIdPorTableroYUsuarioResponse">
<part name="parameters" element="tns:SeleccionarIdPorTableroYUsuarioResponse"/>
</message>
<portType name="tableroUsuarioWS">
<operation name="CrearTableroUsuario">
<input wsam:Action="http://webservices/tableroUsuarioWS/CrearTableroUsuarioRequest" message="tns:CrearTableroUsuario"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/CrearTableroUsuarioResponse" message="tns:CrearTableroUsuarioResponse"/>
</operation>
<operation name="EliminarTableroUsuario">
<input wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuarioRequest" message="tns:EliminarTableroUsuario"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuarioResponse" message="tns:EliminarTableroUsuarioResponse"/>
</operation>
<operation name="EliminarTableroUsuarios">
<input wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuariosRequest" message="tns:EliminarTableroUsuarios"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuariosResponse" message="tns:EliminarTableroUsuariosResponse"/>
</operation>
<operation name="SeleccionarTableroUsuario">
<input wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarTableroUsuarioRequest" message="tns:SeleccionarTableroUsuario"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarTableroUsuarioResponse" message="tns:SeleccionarTableroUsuarioResponse"/>
</operation>
<operation name="ObtenerTablerosDeUsuario">
<input wsam:Action="http://webservices/tableroUsuarioWS/ObtenerTablerosDeUsuarioRequest" message="tns:ObtenerTablerosDeUsuario"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/ObtenerTablerosDeUsuarioResponse" message="tns:ObtenerTablerosDeUsuarioResponse"/>
</operation>
<operation name="ObtenerUsuariosDeTablero">
<input wsam:Action="http://webservices/tableroUsuarioWS/ObtenerUsuariosDeTableroRequest" message="tns:ObtenerUsuariosDeTablero"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/ObtenerUsuariosDeTableroResponse" message="tns:ObtenerUsuariosDeTableroResponse"/>
</operation>
<operation name="SeleccionarIdPorTableroYUsuario">
<input wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarIdPorTableroYUsuarioRequest" message="tns:SeleccionarIdPorTableroYUsuario"/>
<output wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarIdPorTableroYUsuarioResponse" message="tns:SeleccionarIdPorTableroYUsuarioResponse"/>
</operation>
</portType>
<binding name="tableroUsuarioWSPortBinding" type="tns:tableroUsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CrearTableroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarTableroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarTableroUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarTableroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerTablerosDeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerUsuariosDeTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarIdPorTableroYUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="tableroUsuarioWS">
<port name="tableroUsuarioWSPort" binding="tns:tableroUsuarioWSPortBinding">
<soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroUsuarioWS"/>
</port>
</service>
</definitions>