Chello/Chello/src/conf/xml-resources/web-service-references/ComentarioWS/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/ComentarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="CrearComentario" type="tns:CrearComentario"/>

<xs:element name="CrearComentarioResponse" type="tns:CrearComentarioResponse"/>

<xs:element name="EliminarComentario" type="tns:EliminarComentario"/>

<xs:element name="EliminarComentarioResponse" type="tns:EliminarComentarioResponse"/>

<xs:element name="ObtenerComentariosDeActividad" type="tns:ObtenerComentariosDeActividad"/>

<xs:element name="ObtenerComentariosDeActividadResponse" type="tns:ObtenerComentariosDeActividadResponse"/>

<xs:element name="ObtenerComentariosDeUsuario" type="tns:ObtenerComentariosDeUsuario"/>

<xs:element name="ObtenerComentariosDeUsuarioResponse" type="tns:ObtenerComentariosDeUsuarioResponse"/>

<xs:element name="SeleccionarComentario" type="tns:SeleccionarComentario"/>

<xs:element name="SeleccionarComentarioResponse" type="tns:SeleccionarComentarioResponse"/>

<xs:complexType name="ObtenerComentariosDeActividad">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerComentariosDeActividadResponse">
<xs:sequence>
<xs:element name="return" type="tns:comentario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentario">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearComentario">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearComentarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerComentariosDeUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerComentariosDeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:comentario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarComentario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarComentarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarComentario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarComentarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:comentario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>