Chello/Chello/web/WEB-INF/wsdl/jorgenorza.ga_8080/ProyectoFinalWS/ModuloWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="ModuloWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/ModuloWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarModulo">
<part name="parameters" element="tns:AgregarModulo"/>
</message>
<message name="AgregarModuloResponse">
<part name="parameters" element="tns:AgregarModuloResponse"/>
</message>
<message name="EliminarModulo">
<part name="parameters" element="tns:EliminarModulo"/>
</message>
<message name="EliminarModuloResponse">
<part name="parameters" element="tns:EliminarModuloResponse"/>
</message>
<message name="EditarModulo">
<part name="parameters" element="tns:EditarModulo"/>
</message>
<message name="EditarModuloResponse">
<part name="parameters" element="tns:EditarModuloResponse"/>
</message>
<message name="SeleccionarModulo">
<part name="parameters" element="tns:SeleccionarModulo"/>
</message>
<message name="SeleccionarModuloResponse">
<part name="parameters" element="tns:SeleccionarModuloResponse"/>
</message>
<message name="ObtenerModulosDeTablero">
<part name="parameters" element="tns:ObtenerModulosDeTablero"/>
</message>
<message name="ObtenerModulosDeTableroResponse">
<part name="parameters" element="tns:ObtenerModulosDeTableroResponse"/>
</message>
<message name="EliminarModuloVirtual">
<part name="parameters" element="tns:EliminarModuloVirtual"/>
</message>
<message name="EliminarModuloVirtualResponse">
<part name="parameters" element="tns:EliminarModuloVirtualResponse"/>
</message>
<portType name="ModuloWS">
<operation name="AgregarModulo">
<input wsam:Action="http://webservices/ModuloWS/AgregarModuloRequest" message="tns:AgregarModulo"/>
<output wsam:Action="http://webservices/ModuloWS/AgregarModuloResponse" message="tns:AgregarModuloResponse"/>
</operation>
<operation name="EliminarModulo">
<input wsam:Action="http://webservices/ModuloWS/EliminarModuloRequest" message="tns:EliminarModulo"/>
<output wsam:Action="http://webservices/ModuloWS/EliminarModuloResponse" message="tns:EliminarModuloResponse"/>
</operation>
<operation name="EditarModulo">
<input wsam:Action="http://webservices/ModuloWS/EditarModuloRequest" message="tns:EditarModulo"/>
<output wsam:Action="http://webservices/ModuloWS/EditarModuloResponse" message="tns:EditarModuloResponse"/>
</operation>
<operation name="SeleccionarModulo">
<input wsam:Action="http://webservices/ModuloWS/SeleccionarModuloRequest" message="tns:SeleccionarModulo"/>
<output wsam:Action="http://webservices/ModuloWS/SeleccionarModuloResponse" message="tns:SeleccionarModuloResponse"/>
</operation>
<operation name="ObtenerModulosDeTablero">
<input wsam:Action="http://webservices/ModuloWS/ObtenerModulosDeTableroRequest" message="tns:ObtenerModulosDeTablero"/>
<output wsam:Action="http://webservices/ModuloWS/ObtenerModulosDeTableroResponse" message="tns:ObtenerModulosDeTableroResponse"/>
</operation>
<operation name="EliminarModuloVirtual">
<input wsam:Action="http://webservices/ModuloWS/EliminarModuloVirtualRequest" message="tns:EliminarModuloVirtual"/>
<output wsam:Action="http://webservices/ModuloWS/EliminarModuloVirtualResponse" message="tns:EliminarModuloVirtualResponse"/>
</operation>
</portType>
<binding name="ModuloWSPortBinding" type="tns:ModuloWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeleccionarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerModulosDeTablero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarModuloVirtual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModuloWS">
<port name="ModuloWSPort" binding="tns:ModuloWSPortBinding">
<soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/ModuloWS"/>
</port>
</service>
</definitions>